@model IEnumerable<Product>

<h1>Manage Products</h1>
<a href="/admin/products/create" class="btn btn-success">Add New Product</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>$@product.Price</td>
                <td>@product.Stock</td>
                <td>
                    <a href="/Product/Details/@product.Id" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
