@model IEnumerable<Product>

<h1>Products</h1>
<ul>
    @foreach (var product in Model)
    {
        <li>
            <a href="/Product/Details/@product.Id">@product.Name</a> - $@product.Price
        </li>
    }
</ul>
